/* TABLET  */

@media (max-width:768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 20px;


    }

    .steps {
        width: 768px;
    }

    .lesson .col {
        flex-basis: 0;
        flex-grow: 1;
    }


}




/* MOBILE  */


@media (max-width:480px) {
    .container {
        max-width: 480px;
        margin: 0;
        padding: 0 20px;


    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .lessons .col {
        width: 100%;
    }


    .steps .col {
        flex-basis: 0;
        flex-grow: 1;
        width: 100%;
    }


}