/* TABLET  */

@media (max-width:768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 20px;


    }

    .steps {
        width: 768px;
    }

    .lesson .col {
        flex-basis: 0;
        flex-grow: 1;
    }


}




/* MOBILE  */


@media (max-width:480px) {
    .container {
        max-width: 480px;
        margin: 0 auto;
        padding: 0 20px;


    }

    .row {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .lessons .col {
        width: 100%;
    }

    .steps {
        width: 480px;
    }

    .steps .col {
        flex-basis: 0;
        flex-grow: 1;
        width: 100%;
    }

    .col-left img {
        max-width: 350px;
        transform: translate(-100px);

    }


    .why-us .container {
        background-color: #222222;
        margin-top: -48px;
        padding-top: 48px;
    }



}